<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Social Connect</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=Cabin" />
</head>

<body>

<div class="container">
    <a href="/" class="title" > Social Connect </a>
    <form method="post" action="/auth/register">
        <input type="text"  name="username" placeholder="Username" class="formElement1">
        <input type="text"  name="email" placeholder="Email" class="formElement1">
        <input type="text"  name="name" placeholder="Full Name" class="formElement1">
        <input type="date"  name="dob" placeholder="Date Of Birth" class="formElement1">
        <input type="password"  name="password" placeholder="Password" class="formElement1">
        <input type="submit" value="Register" class="formBtn">
    </form>
</div>


</body>
</html>